
.sb-form-edit-cart {
    display:block !important;
    position: static;
    border:0 !important;
    background: none !important;
}
.editorlink {
    display:none !important
}
.update-cart-item-variations  {
    font-size:11px; padding:3px !important;
    
}
.sb-cart-cancel-link {
  display:none !important;  
}

.sb-row label {
    width: 100px;
    /* float: left; */
    box-sizing: border-box;
    /* margin-left: -8% !important; */
}
.visible {
    display:inline;
}

.giftstep{
	font-size:14px;
	font-weight:bold;
	vertical-align:middle;
}

.gift_reached {
	font-size:12px;
}
del .woocommerce-Price-amount {
	color:red;
}
.woocommerce-mini-cart  .tohide, .woocommerce-mini-cart .gift_cart_variants, dl.variation,input[name='update_cart']  {
	display:none ;
}
.submsg
{
	padding:20px;
	background-color:#f9f8f8;
	color:#7d9f33;
	font-size:1.3em;
	font-weight:bold;
}

.gift1 {
	width: 100%
}

.gifts-wrapper {	
	padding-top: 26px;
    border-top: 2px dashed #ececec;
	margin-bottom: 30px;
    border-bottom: 2px dashed #ececec;
}

table.gifts {
	width: 100%;		
	border-collapse: collapse
}

table.gifts .gift-bar {
		border: 1px solid #7c9f35;
}

table td {
	border: 0
}

.shop_table .product-quantity {
	display: block;
}

.shop_table .gift_cart_variants + .product-quantity,
.shop_table .gifts_title + .product-quantity {
		display: none;
}
.shop_table .gift_cart_variants.empty + .product-quantity {
	display: block;
}

.line {
	font-size: 1em;
	height: 25px;
	width: 25px;
	background-color: #7c9f35;
	float: left
}


.redprice {
	text-decoration: line-through;
	color: red
}

.gifts_cart_title a { 
	padding: 15px;
    padding-bottom: 0;
    display: inline-block;
	font-weight:600;
	font-size:14px;
	padding-right: 0;
}

.gift_cart_variants label {
	padding-right: 10px;
}
.gift_cart_variants select {
	max-width: 250px;
	display: block;
	float: right;
}

.firsttd {
	width: 20%;
	font-size: 30px !important;
	height: 30px;
}

.firsttd i {
	font-size: 50px;
	color: #963871;
}

.singleline {
	display: none;
}

.singleline.block {
	display: block;
	background-color: #7c9f35;
	width: 100%;
	height: 100%;
	padding: 10px;
	font-size: 12px;
	margin: 0
}

span.title {
	display: inline-block;
	color: #fff;
	float: right;
	padding: 3px;
	font-weight: normal;
	font-size: 11px;
}

.stext {
	position: relative;

	display: block;
	width: 250%;
	margin-right: 150%;
}
.delivery-time-info {
	clear:both
}
.p0 {
	padding: 0 !important;
	color: #fff
}
.gifts_title {
	background-color:#963871;
	color:#fff;
	display:block;
	padding:2px;
	width:70px;
	font-size:11px;
	text-align:center;
	float:right;
	margin:5px 0;
	clear: both;
	
	
}
.wc-gzd-product-name-right .gift_cart_variants select ,.wc-gzd-product-name-right .gift_cart_variants label { display:none !important;}




.wc-gzd-product-name-right  .gifts_title {
    background-color: #963871;
    color: #fff;
    display: block;
    padding: 2px;
    width: 70px;
    font-size: 11px;
    text-align: center;
    float: right;
    margin-top: 0px;
}
.wc-gzd-product-name-left {}

 .wc-gzd-product-name-right {
    float: right !important;
    font-size: 11px;margin-top:0;
    margin-left: 30px !important;
}
@media(max-width:768px) {
	table.gifts {
		width: 100%;
		margin-left: 0
	}
	.stext {
		position: relative;
		background-color: #7c9f35;
		display: block;
		width: 200%;
		margin-right: 300%;
	}
	.nomobile {
		display:none;
	}
}
